.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #7cf03d;
  border: 2px solid #7cf03d;
  border-radius: 40px;
  box-shadow: 0 0 10px #7cf03d;
  font-size: 1.1em;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  background-color: transparent;
  color: #7cf03d;
  box-shadow: none;
}

.circleWave {
  background-image: radial-gradient(circle at center center, #175070, #050e1f);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.stretchWord {
  font-stretch: expanded;
}

.slide-container {
  height: 100vh;
}
